<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Equilibrage d'une liste de dépense</title>
</head>
<body>
<header th:replace="fragments/header.html :: top"></header>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="container">

    <h1 th:text="|Equilibrage de la liste de dépense - ${expenseList.name} |">Equilibrage d'une liste de dépense</h1>
    <div class="row">
    <div class="container">
        <div class="row">&nbsp;</div>
        <h2>Solde des participants</h2>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordred table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Solde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="balancing : ${balancingList}">
                            <td th:text="${balancing.firstName}">first name</td>
                            <td th:text="${balancing.lastName}">last name</td>
                            <td th:text="${balancing.accountBalance}">account balance</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <h2>Qui doit combien à qui ?</h2>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordred table-striped">
                        <tbody>
                        <tr th:each="amountDistribution : ${whoOwesWhomList}">
                            <td th:text="|${amountDistribution.firstNamePayer} ${amountDistribution.lastNamePayer} doit ${amountDistribution.amountDistribution} € à ${amountDistribution.firstNameCollector} ${amountDistribution.lastNameCollector} |">who owes whom</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer.html :: bottom"></footer>
</body>
</html>