<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Equilibrage d'une liste de dépense</title>
</head>
<body>
<header th:replace="fragments/header.html :: top"></header>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>

<div class="container">

    <h1 th:text="|Equilibrage de la liste de dépenses - ${expenseList.name} |">Equilibrage d'une liste de dépenses</h1>
    <div class="row"> </div>

    <div class="container">
        <div class="row">&nbsp;</div>
        <h2>Solde des participants</h2>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordred table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Solde</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="balancing : ${balancingList}">
                            <td th:text="${balancing.firstName}">first name</td>
                            <td th:text="${balancing.lastName}">last name</td>
                            <td th:text="${#numbers.formatCurrency(balancing.accountBalance)}">account balance</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>

        <h2>Qui doit combien à qui ?</h2>

        <div th:if="${!whoOwesWhomList.empty}">
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordred table-striped">
                            <tbody>
                            <tr th:each="amountDistribution : ${whoOwesWhomList}">
                                <td th:text="|${amountDistribution.firstNamePayer} ${amountDistribution.lastNamePayer} doit ${#numbers.formatCurrency(amountDistribution.amountDistribution)} à ${amountDistribution.firstNameCollector} ${amountDistribution.lastNameCollector} |">who owes whom</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Bouton -->
            <div class="row">&nbsp;</div>
            <a th:href="'/lists/' + ${expenseList.id} + '/expenses'" name="retour" class="btn btn-primary">Retour</a>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#startBalancingModal">
                Lancer l'équilibrage
            </button>
            <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="startBalancingModal" tabindex="-1" aria-labelledby="startBalancingModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="startBalancingModalLabel" th:text="'Voulez vous lancer l\'équilibrage de la liste ' + ${expenseList.name} + ' ?'"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form  method="post" th:action="|@{/lists/balancing/}${expenseList.id}|" th:object="${emailAddress}">
                                    <label for="emailAddress" class="col-form-label">Email :</label>
                                    <input type="email" class="form-control" id="emailAddress" name="emailAddress" required="required">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-danger">Oui</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin Bouton -->
            <!-- Fin IF -->
        </div>

        <div th:unless="${!whoOwesWhomList.empty}">
            <div class="row">&nbsp;</div>
            <h2>Equilibrage parfait ! les bons comptes font les bons amis :) </h2>
            <div class="row">&nbsp;</div>
            <a th:href="'/lists/' + ${expenseList.id} + '/expenses'" name="retour" class="btn btn-primary">Retour</a>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: bottom"></footer>
</body>
</html>