<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Détail d'une liste de dépense</title>
</head>
<body>
<h3 th:text="${expenseList.id} ? 'Liste de dépense : '+${expenseList.name} : 'Créer une liste de dépense'">Wizard</h3>

<form method="post" th:action="@{/lists/*{id}}" th:object="${expenseList}">
    <input name="id" th:field="*{id}" type="hidden">
    <div class="mb-3">
        <label for="name" class="form-label">Nom de liste :</label>
        <input type="text" id="name" name="name" required th:field="*{name}">
    </div>
<!--    <div class="button">-->
        <button type="submit" class="btn btn-primary">Modification du nom de la liste</button>
<!--    </div>-->
</form>

<br>
<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Ajouter un Participant
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajout d'un participant à la liste</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form  method="post" th:action="@{'/lists/' + ${expenseList.id} + '/participant'}" th:object="${participants}">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Nom :</label>
                        <input type="text" class="form-control" id="namePart" name="name">
                        <label for="name" class="col-form-label">Prénom :</label>
                        <input type="text" class="form-control" id="firtnamePart" name="firstName">
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="submit" class="btn btn-primary" th:action="@{/lists/*{id}}" th:object="${expenseList}">Ajout Participant</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr th:each="expenseList : ${expenseList}">
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">X</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expenseListParticipants : ${expenseList.getParticipants()}">
        <td  th:text="${expenseListParticipants.name}">Name</td>
        <td  th:text="${expenseListParticipants.firstName}">Name</td>
        <td  th:text="${expenseList.id}">X</td>
    </tr>
    </tbody>
</table>

</body>
</html>