<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Détail d'une liste de dépense</title>
</head>
<body>
<h1 th:text="|Liste de dépense - ${expenseList.name} |">Liste de dépense</h1>
<h1>Nombre de participants : ???? </h1>
<table>
    <thead>
    <tr>
        <th>Nom de la dépense</th>
        <th>Nb de participant</th>
        <th>Montant</th>
        <th>Détail</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${expensesOfList}">
        <td th:text="${expense.name}">name</td>
        <td th:text="${expense.id}">id</td>
        <td th:text="${expense.amount}">amount</td>
        <td><a th:href="|@{/expenses/}${expense.id}|">Détail</a></td>
        <td><a th:href="|@{/expenses/delete/}${expense.id}|">Supprimer</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>