<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Détail d'une liste de dépense</title>
</head>
<body>
<header th:replace="fragments/header.html :: top"></header>
<div class="row">""</div>
<div class="row">""</div>
<div class="row">""</div>
<div class="container">

	<h1 th:text="|Liste de dépenses - ${expenseList.name} |">Listes de dépenses</h1>
	<div class="row">

        <h2 class="col-md-6" th:text="|Nombre de participants : ${expenseList.participants.size()} |">Nombre de participants</h2>
	    <div class="col-md-2" th:if="${expenseList.participants.size() == 0}">
			<!-- Button trigger modal -->
			<button title="Vous ne pouvez pas ajouter de dépense car il n'y a pas de participant à la liste" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" disabled>Ajouter une dépense</button>
		</div>
		<div class="col-md-2" th:unless="${expenseList.participants.size() == 0}">
			<!-- Button trigger modal -->
			<button th:unless="${expenseList.participants.size() == 0}" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter une dépense</button>
			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			    
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Ajout d'une dépense à la liste</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
	
			      <div class="modal-body">
			        <form  method="post" th:action="@{'/lists/' + ${expenseList.id} + '/expense'}" th:object="${expenses}">
				       <!--  <div class="mb-3" th:object="${participants}">-->
				       <div class="mb-3" th:object="${numbers}">
				        <label for="name" class="col-form-label" >Nom de la dépense:</label>
				        <input type="text" id="name" name="name" class="form-control" required>
				        <label for="amount" class="col-form-label" >Montant de la dépense: </label>
				        <input type="number" step=".01" pattern="[0-9]+([.,][0-9]+)?" id="amount" name="amount" class="form-control" required>
			    		<!-- Liste de choix  -->
			    		<div class="col-md-4">
   							 <label for="participant-list" class="col-form-label">Nom du payeur</label>
   							 <select name="idPayeur" id="participant-list" required >
   								 <option selected>Choisir...</option>   
               					 <option th:each="participant : ${participants}" th:value="${participant.id}" th:text="${participant.name}"></option>
           					 </select>
  						</div>
				      </div>
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				        <button type="submit" class="btn btn-primary">Ajouter</button>
			      	</form>
			      </div>
			   </div>
		  	  </div>
			</div>
		</div>
		<div class="col-md-2">
			<a class="btn btn-primary" th:href="|@{/lists/}${expenseList.id}|" role="button">Ajouter des participants</a>
		</div>
        <div class="col-md-2">
            <a class="btn btn-primary" th:href="|@{/lists/}${expenseList.id}@{/balancing}|" role="button">Afficher l'équilibrage</a>
        </div>
	</div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-bordred table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom de la dépense</th>
                    <th scope="col">Nb de bénéficiaires</th>
                    <th scope="col">Montant</th>
                    <th scope="col" class="text-center">Détails</th>
                    <th scope="col" class="text-center">Supprimer</th>
                </tr>
                </thead>
                <tbody>
                <!-- <tr th:each="expense : ${expensesOfList}">  -->
                <tr th:each="expense : ${expenses}">
                    <td th:text="${expense.name}">name</td>
                    <td th:text="${expense.participants.size()}">id</td>
                    <td th:text="${#numbers.formatCurrency(expense.amount)}">amount</td>
                    <td style="width: 10%;" class="text-center">
					<!--<a class="table-link" th:href="|@{/expenses/}${expense.id}|">-->
						<a class="table-link btn" th:href="|@{/expenses/}${expense.id}|">
                            <span class="fa-stack" style="color:blue">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td>
                   <!--   <td style="width: 10%;" class="text-center">
                        <a class="table-link" th:href="|@{/expenses/delete/}${expense.id}|">
                            <span class="fa-stack">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </td> -->
              		<td style="width: 10%;">
		                <!-- Button trigger modal -->
		                <button type="button" class="btn" data-bs-toggle="modal" th:data-bs-target="'#deleteExpenseModal' + ${expense.id}">
		                    <span class="fa-stack" style="color:red">
		                        <i class="fa fa-square fa-stack-2x"></i>
		                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
		                    </span>
		                </button>
		                <div class="container">
		                    <!-- Modal -->
		                    <div class="modal fade" th:id="'deleteExpenseModal' + ${expense.id}" tabindex="-1" aria-labelledby="deleteExpenseModalLabel" aria-hidden="true">
		                        <div class="modal-dialog">
		                            <div class="modal-content">
		                                <div class="modal-header">
		                                    <h5 class="modal-title" id="deleteExpenseModalLabel" th:text="'Confirmation de la suppression de la dépense : ' + ${expense.name} + ' d un montant de  ' + ${expense.amount} "></h5>
		                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		                                </div>
		                                <div class="modal-body">
		                                    <form  method="post" th:action="|@{/expenses/delete/}${expenseList.id}/${expense.getId()}|" th:object="${expense}">
		                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
		                                        <button type="submit" class="btn btn-danger">Oui</button>
		                                    </form>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
	<div class="row">
	    <div class="col-md-2">
			<a th:href="@{/lists}" id="retour" name="retour" class="btn btn-primary">Retour</a>
		</div>
	</div>
</div>
<footer th:replace="fragments/footer.html :: bottom"></footer>
</body>
</html>