<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">    	
	   <title>Tricount.com | Liste des dépenses</title>
</head>
<body>
 	<header th:replace="fragments/header.html :: top"></header> 	
	
	<!-- Debut-- Div à ajouter pour que la page ne passe pas sous le menu --> 
	<div class="row">""</div>
	<div class="row">""</div>
	<div class="row">""</div>
	<div class="container">
		<div class="row align-items-center">
			<h1 class="col-md-4" >Liste des dépenses</h1>
			<div class="col-md-8">
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Ajouter une liste de dépense
			</button>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ajouter une liste de dépense</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" th:action="@{/lists}" th:object="${expenseList}">
						<div class="mb-3">
							<label for="expenseList-name">Nom:</label>
							<input type="text" id="expenseList-name" name="name" placeholder="Exemple:Colocation" required="required">
						</div>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Ajouter</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>

	<br>

	<div class="container">
		<div class="row">
       		<div class="col-md-12">
		        <div class="table-responsive">	
					<table id="mytable" class="table table-bordred table-striped">
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Details</th>
								<th>Edit</th>
							</tr>								
						<tbody>
		    				<tr th:each="list : ${expenseList}">
		        				<td th:text="${list.id}">id</td>
		        				<td th:text="${list.name}">name</td>

								<td style="width: 10%;">
									<a class="table-link" th:href="|@{/lists/}${list.id}@{/expenses}|">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>	
								<td style="width: 10%;">								
<!--									<a href="#" class="table-link">-->

										<a th:href="'/lists/'+${list.id}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
								<!-- <a href="#" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
								</a>-->
		    				</tr>							
						</tbody> 
					</table>							 
				</div>		
			</div>		
		</div>
	</div>

 	<!--Debut -- Gestion de la pagination -->
	<div th:replace="fragments/paginable.html :: paginable"></div>
	 <!-- Fin -- Gestion de la pagination -->

	<footer th:replace="fragments/footer.html :: bottom"></footer>
	</body>
</html>